<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Look Ma No Hands</string>
	<key>CFBundleDisplayName</key>
	<string>Look Ma No Hands</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Look Ma No Hands needs microphone access to transcribe your speech.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>readAloud</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Read Aloud with Look Ma No Hands</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSPortName</key>
			<string>LookMaNoHands</string>
		</dict>
	</array>
</dict>
</plist>
