root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.swift]
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.md]
# Markdown: preserve trailing whitespace (two-space line breaks are meaningful)
trim_trailing_whitespace = false
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2

[project.yml]
indent_size = 2
